.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212e31;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icon {
  margin: 0 10px;
}

.social-icon img {
  width: 30px;
  height: 30px;
}

.social-icon:hover img {
  filter: brightness(0.8);
}